#borderheaderleft
{
    border: 2.3px double rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
         background-color: #868884;
                background: -moz-linear-gradient(-45deg, #868884 0%, #E8F1FF 50%, #868884 100%);
                 background: -webkit-linear-gradient(-45deg, #868884 0%, #E8F1FF 50%, #868884 100%);
                background: linear-gradient(135deg, #868884 0%, #E8F1FF 50%, #868884 100%);
}

#borderheaderright,borderheaderright1
{
    border: 2.3px double rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px ;
         background-color: #868884;
                background: -moz-linear-gradient(-45deg, #868884 0%, #E8F1FF 50%, #868884 100%);
                 background: -webkit-linear-gradient(-45deg, #868884 0%, #E8F1FF 50%, #868884 100%);
                background: linear-gradient(135deg, #868884 0%, #E8F1FF 50%, #868884 100%);
}

#borderbottom
{
    border-bottom: 1px groove #000000;
}
a {
  color: #000 !important;
  text-decoration:none !important;
}
a:hover
{
 text-decoration:none !important;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}
.form-row > input {
  flex: 2;
}
