
h2 {
    margin-top: 10px;
}


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.harness-upload-custom .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 34px;
    /*width: 200px;*/
    margin: auto;
    display: block;
    border: 2px solid #555
}

.harness-btn {
    margin: auto;
}

.harness-upload-custom .btn-tertiary:hover,.harness-upload-custom .btn-tertiary:focus {
    color: #888;
    border-color: #888;
}

.harness-upload-custom .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.harness-upload-custom .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer
}

.harness-upload-custom .input-file + .js-labelFile .icon:before {
    content: "\f093"
}

.harness-upload-custom .input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}

/*
.harness-number {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.chart-upload {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 5px;
    background-color: #fff;
}

.form-inline button {
    padding: 10px 18px;
    color: white;
    font-size: large;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
*/
.harness-upload-form {
    /* margin-top: 3vh;


    margin-bottom: 5px;
    */
}


.btn-light {
    /*
    padding-left: 80px;
    padding-right: 80px;

     */
}
