env/
.env
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
venv*/
venv/
venv2/
.idea
*.xlsx
*.xls
=======
.idea/
komaxsite/.idea
.ipynb_checkpoints
__pycache__
.git/
redis-stable
.envs/.production/
node_modules/