[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = {version = '>=2.2'}
channels = "*"
channels-redis = "*"
django-heroku = "*"
daphne = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
asgi-redis = "*"
bootstrap4 = "*"
celery = "*"
django-channels = "*"
django-pandas = "*"
django-redis = "*"
django-redis-cache = "*"
django-select-multiple-field = "*"
django-select2 = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pytest = "*"
redis = "*"
redis-cache = "*"
requests = "*"
xlrd = "*"
xlutils = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.7.6"
