[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = '2.2.5'}
channels = "*"
channels-redis = "*"
django-heroku = "*"
daphne = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7.6"
