.Feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.heading{

}

.heading_item{
    margin: 30px 0px;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.arrow{
    height: 50px;
    width: 50px;
    margin: 7vh 0vh;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 20px;
    width: 300px;
    font-size: 24px;
    padding: 5px 5px;
    border-bottom: var(--dark-accent) 1px solid;
}

.submit_btn{
    font-size: 24px;
    color: white;
    padding: 10px 10px;
    outline: none;
    border-radius: 10px;
    background-color: var(--accent);
    border: 0px;
    cursor: pointer;
}

.submit_btn:hover{
    background-color: var(--light-accent);
}

@media (max-width: 1025px) {
    .Feedback{
        height: 50vh;
    }
}

@media (max-height: 770px) {
    .Feedback{
        height: 65vw;
    }
}

@media (max-width: 420px) {
    .Feedback{
        height: 90vh;
    }
}

@media (max-height: 420px) {
    .Feedback{
        height: 80vw;
    }
}