{% extends 'komax_app/komax_app_main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    <title>{% trans 'Amount' %}</title>
{% endblock %}

{% block header_body %}
    <h2 class="text-center">{% trans 'Set up task' %}</h2>
    <hr>
{% endblock %}

{% block main_content %}
    <link rel="stylesheet" type="text/css" href="komax_app_amount.html">
    <div class="container ">
    <div class="form-group">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for harness in harnesses %}
                <div class="text-center">

                <p><label for="id_harness">{% trans 'Harness' %}:</label>
                    <select name="{{ harness }}" required id="id_harness">
                        <option value="{{ harness.id }}">{{ harness }}</option>
                    </select>
                </p>

                <p>
                    <label for="id_amount">{% trans 'Amount' %}:</label> <input type="number" name="amount-{{ harness }}" required id="id_amount">
                </p>

            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Submit' %}</button
            </div>
        </form>

    </div>
    </div>
{% endblock %}
