{% extends 'komax_app/dashboard_main.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{{ harness_number }}</title>
{% endblock %}

{% block main %}
    <link rel="stylesheet" type="text/css" href="{% static 'komax_app/chart_view.css' %}">
    <div class="container-fluid">
        <h2 class="text-center">{% blocktrans %}Harness chart of {{ harness_number }}{% endblocktrans %}</h2>
    </div>
    <div class="container-fluid">
    <!--
    <p> * - value which is not using for komax </p>
    <p> -1111 - value which is not using for komax </p>
    -->
    </div>
    <div class="container-fluid">
        <div class="overflow-x:auto">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">{% trans 'Harness number' %}</th>
                    <th class="text-center" scope="col">{% trans 'Wire' %}</th>
                    <th class="text-center" scope="col">{% trans 'Marking' %}</th>
                    <th class="text-center" scope="col">{% trans 'Number' %}</th>
                    <th class="text-center" scope="col">{% trans 'Square' %}</th>
                    <th class="text-center" scope="col">{% trans 'Color' %}</th>
                    <th class="text-center" scope="col">{% trans 'Length' %}</th>

                    <th class="text-center" scope="col">{% trans 'Armirovka 1' %}</th>
                    <th class="text-center" scope="col">{% trans 'Tube len 1' %}</th>
                    <th class="text-center" scope="col">{% trans 'Seal 1' %}</th>
                    <th class="text-center" scope="col">{% trans 'Cut len 1' %}</th>
                    <th class="text-center" scope="col">{% trans 'Terminal 1' %}</th>
                    <th class="text-center" scope="col">{% trans 'Aplicator 1' %}</th>

                    <th class="text-center" scope="col">{% trans 'Armirovka 2' %}</th>
                    <th class="text-center" scope="col">{% trans 'Tube len 2' %}</th>
                    <th class="text-center" scope="col">{% trans 'Seal 2' %}</th>
                    <th class="text-center" scope="col">{% trans 'Cut len 2' %}</th>
                    <th class="text-center" scope="col">{% trans 'Terminal 2' %}</th>
                    <th class="text-center" scope="col">{% trans 'Aplicator 2' %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for harness_chart in positions %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td class="text-center">{{ harness_chart.harness.harness_number }}</td>
                        <td class="text-center">{{ harness_chart.wire_type }}</td>
                        <td class="text-center">{{ harness_chart.marking }}</td>
                        <td class="text-center">{{ harness_chart.wire_number }}</td>
                        <td class="text-center">{{ harness_chart.wire_square }}</td>
                        <td class="text-center">{{ harness_chart.wire_color }}</td>
                        <td class="text-center">{{ harness_chart.wire_length }}</td>

                        <td class="text-center">{{ harness_chart.armirovka_1 }}</td>
                        <td class="text-center">{{ harness_chart.tube_len_1 }}</td>
                        <td class="text-center">{{ harness_chart.wire_seal_1 }}</td>
                        <td class="text-center">{{ harness_chart.wire_cut_length_1 }}</td>
                        <td class="text-center">{{ harness_chart.wire_terminal_1 }}</td>
                        <td class="text-center">{{ harness_chart.aplicator_1 }}</td>

                        <td class="text-center">{{ harness_chart.armirovka_2 }}</td>
                        <td class="text-center">{{ harness_chart.tube_len_2 }}</td>
                        <td class="text-center">{{ harness_chart.wire_seal_2 }}</td>
                        <td class="text-center">{{ harness_chart.wire_cut_length_2 }}</td>
                        <td class="text-center">{{ harness_chart.wire_terminal_2 }}</td>
                        <td class="text-center">{{ harness_chart.aplicator_2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}