{% extends 'komax_app/komax_app_main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
<title>{% trans 'Komaxes' %}</title>
{% endblock %}

{% block header_body %}

{% endblock %}

{% block main_content %}
    <link type="text/css" rel="stylesheet" href="{% static 'komax_app/komaxes.css' %}">
    <div class="container-fluid">
        <h2 class="text-center">{% trans 'Komaxes' %}</h2>
    <button type="button" class="btn btn-success mb-3 col-lg-1 add-button" data-toggle="modal" data-target="#komax-create-modal">
        <i class="fa fa-plus"> {% trans 'New' %}</i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="komax-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="new_komax_form" method="post">
                {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Add' %} komax</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="number" class="col-sm-5 col-form-label">{% trans 'Komax' %} {% trans 'number' %}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="{% trans '1' %}" id="number" name="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-sm-5 col-form-label">{% trans 'Status' %}</label>
                            <div class="col-sm-7">
                                <select id="status" name="status" class="form-control">
                                    {% for status in komax_status %}
                                    <option>{% trans status %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="marking" class="col-sm-5 col-form-label">{% trans 'Marking' %}</label>
                            <div class="col-sm-7">
                                <select id="marking" name="marking" class="form-control">
                                    {% for marking in komax_marking %}
                                    <option>{% trans marking %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pairing" class="col-sm-5 col-form-label">{% trans 'Pairing' %}</label>
                            <div class="col-sm-7">
                                <select id="pairing" name="pairing" class="form-control">
                                    {% for pairing in komax_pairing %}
                                    <option>{{ pairing }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="group_of_square" class="col-sm-5 col-form-label">{% trans 'Group of square' %}</label>
                            <div class="col-sm-7">
                                <select class="selectpicker form-control" name="group_of_square" id="group_of_square" multiple data-live-search="true" required>
                                    {% for group_of_square in komax_group_of_square %}
                                    <option>{{ group_of_square }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="identifier" class="col-sm-5 col-form-label">{% trans 'Identifier' %}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder='AAAAA' id="identifier" name="identifier">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="submit" id='save_new' class="btn btn-info">{% trans 'Save' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-stripped">
    <thred>
        <tr>
            <th class='text-center' scope="col">#</th>
            <th class='text-center' scope="col">{% blocktrans %}Equipment number{% endblocktrans %}</th>
            <th class="text-center" scope="col">{% trans 'Type' %}</th>
            <th class='text-center' scope="col">{% trans 'Status' %}</th>
            <th class='text-center' scope="col">{% trans 'Marking' %}</th>
            <th class='text-center' scope="col">{% trans 'Pairing' %}</th>
            <th class='text-center' scope="col">{% trans 'Group of square' %}</th>
            <th class="text-center" scope="col">{% trans 'Identifier' %}</th>
        </tr>
    </thred>
    <tbody>

        {% for komax in komaxes %}
            <tr>
                <th class='text-center' scope="row">{{ forloop.counter }}</th>
                <td class="text-center">{{ komax.0 }}</td>
                <td class="text-center">Komax</td>
                <td class="text-center">{% trans komax.1 %}</td>
                <td class="text-center">{% trans komax.2 %}</td>
                <td class="text-center">{% trans komax.3 %}</td>
                <td class="text-center">
                    {% for group in komax.4 %}
                        {{ group }}
                    {% endfor %}
                </td>
                <td class="text-center">{{ komax.5 }}</td>

                <td class="text-center">
                    <button type="button" class="btn btn-primary change-button" data-toggle="modal" data-target="#komax-change-modal" data-whatever="{{ komax.0 }}">
                        <i class="fa fa-pencil"></i>
                    </button>

                    <div class="modal fade" id="komax-change-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="post">
                                {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Setup' %} komax</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="number" class="col-sm-5 col-form-label">{% trans 'Komax' %} {% trans 'number' %}</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" value="{{ komax.0 }}" name="number">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="status" class="col-sm-5 col-form-label">{% trans 'Status' %}</label>
                                            <div class="col-sm-7">
                                                <select name="status" class="form-control">
                                                    {% for status in komax_status %}
                                                    <option>{% trans status %}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="marking" class="col-sm-5 col-form-label">{% trans 'Marking' %}</label>
                                            <div class="col-sm-7">
                                                <select name="marking" class="form-control">
                                                    {% for marking in komax_marking %}
                                                    <option>{% trans marking %}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="pairing" class="col-sm-5 col-form-label">{% trans 'Pairing' %}</label>
                                            <div class="col-sm-7">
                                                <select name="pairing" class="form-control">
                                                    {% for pairing in komax_pairing %}
                                                    <option>{{ pairing }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="group_of_square" class="col-sm-5 col-form-label">{% trans 'Group of square' %}</label>
                                            <div class="col-sm-7">
                                                <select class="selectpicker form-control" name="group_of_square" id="group_of_square" multiple data-live-search="true" required>
                                                    {% for group_of_square in komax_group_of_square %}
                                                    <option>{{ group_of_square }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="identifier" class="col-sm-5 col-form-label">{% trans 'Identifier' %}</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" value="{{ komax.5 }}" name="identifier">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                                        <button type="submit" class="btn btn-info">{% trans 'Save' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
        {% endfor %}

        {% for kappa in kappas %}
            <tr>
                <th class='text-center' scope="row">{{ forloop.counter }}</th>
                <td class="text-center">{{ kappa.0 }}</td>
                <td class="text-center">Kappa</td>
                <td class="text-center">{% trans kappa.1 %}</td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
