{% extends 'komax_app/komax_app_main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    <title>{% trans 'Task' %} {{ task.task_name }}</title>
{% endblock %}

{% block libraries %}

{% endblock %}

{% block main_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'komax_app/komax_app_task.css' %}">
    <section class="jumbotron text-center">
        <div class="container-fluid">
            <h1 class="jumbotron-heading">Komax {% trans 'task' %} {{ task.task_name }}</h1>
            <h5>{% trans 'Succesfully allocated!' %}</h5>
            <p>
                <a class="btn btn-primary btn-lg" href="{% url 'komax_app:get_task' task_name=task.task_name %}">
                    {% trans 'Full' %} {% trans 'task' %}
                </a>

                {% for komax, time in alloc.items %}
                    <a class="btn btn-primary btn-lg" href="{% url 'komax_app:get_spec_task' task_name=task.task_name komax=komax %}">
                        {% trans 'task' %} {{ komax }}
                    </a>
                {% endfor %}
            </p>
            <p>
                <a class="btn btn-lg btn-warning" href="{% url 'komax_app:task_setup' %}">{% trans 'Again' %}</a>
            </p>
        </div>
    </section>

    <div class="container-fluid text-center">

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{% trans 'Tickets' %}</h3>
                        <p class="card-text">
                            {% for komax, time in alloc.items %}
                                <a class="btn btn-lg btn-info" href="{% url 'komax_app:get_ticket_view' task_name=task.task_name komax=komax %}">
                                    {% trans "Ticket" %} {{ komax }}
                                </a>

                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{% trans 'Harnesses' %} {% trans 'used' %}</h3>

                            {% for harness in harnesses %}
                                <p class="card-text">
                                <h4>{{ harness }}</h4>
                                <p>{{ harness.amount }}</p>
                                </p>
                            {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <p class="card-body">
                        <h3 class="card-title">Komaxes {% trans 'used' %}</h3>

                        <p class="card-text">
                        {% if exceeds_shift %}
                            <p>
                                <h4>
                                <i class="fa fa-exclamation-triangle btn-danger"> </i>
                                    {% blocktrans %}
                                        Exceeds shift. Please load next shift!
                                    {% endblocktrans %}
                                <i class="fa fa-exclamation-triangle btn-danger"> </i>
                                </h4>
                            </p>
                        {% endif %}
                        {% for komax, time in alloc.items %}
                            <p>
                                <h3>{{ komax }} - {{ time }}</h3>
                            </p>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}