{% extends 'komax_app/komax_app_main.html' %}
{% load staticfiles %}
{% load i18n %}
{% block libraries %}
    {{ form.media.css }}
    {{ form.media.js }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}
{% block title %}
    <title>{% trans 'Update komax' %}</title>
{% endblock %}

{% block header_body %}
    <h2 class="text-center">{% trans 'Set up' %}</h2>
{% endblock %}

{% block main_content %}
    <div class="container">
    <div class="form-group row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Change' %}</button>
        </form>
    </div>
    </div>
{% endblock %}