{% extends 'komax_app/dashboard_main.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    <title>
    {{ user.username }}
    </title>
{% endblock %}

{% block main %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">
            {% trans 'Home' %}
        </h1>


    </div>



    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="h1">
                    {{ user.username }}
                </h1>
            </div>
            <div class="card-body">

                {% if worker.image %}
                    <img src="{{ worker.image.url }}">
                {% endif %}
                <h4 class="h4 text-secondary">
                    {{ user.groups.all.0 }}
                </h4>
                {% if user.groups.all.0 == 'Operator' %}
                    <h5 class="h5">
                        Komax - {{ request.session.komax }}
                    </h5>
                {% endif %}
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#settingsModal">
                          {% trans 'Edit' %}
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">{% trans 'Settings' %}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="label" for="image">{% trans 'Image' %}: </label>
                                            <input class="input" id="image" name="image" type="file">
                                        </div>
                                        <div class="form-group">
                                            {% get_current_language as LANGUAGE %}
                                            {% get_available_languages as AVAILABLE_LANGUAGES %}
                                            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                                            <!--
                                            <input name="next" type="hidden" value="{{ redirect_to }}" >
                                            -->
                                            <label for="language">{% trans 'Language' %}: </label>
                                            <select id="language" name="language">
                                                {% for language in languages %}
                                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE %} selected{% endif %}>
                                                        {{ language.name_local }} ({{ language.code }})
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                                        <button type="submit" class="btn btn-outline-primary">{% trans 'Save' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        {% if user.groups.all.0.name == 'Operator' %}
            {% if request_komax_num %}
            <div class="modal fade" id="komaxNumberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="form-inline justify-content-center" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <label class="sr-only" for="komax">Komax</label>
                                <input class="form-control mb-2 mr-sm-2" type="text" placeholder="№ komax" id="komax" name="komax">

                                <button class="btn btn-success mb-2" type="sumbit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                {% for komax_task, komax_time_status in komax_tasks.items %}

                    <div class="card">
                        <div class="card-header">
                            <p>{{ komax_task.task_name }}</p>
                        </div>
                        <div class="card-body">

                            <p>Time: {{ komax_time_status.0.time }}</p>

                            {% if komax_time_status.1 == 0 %}
                                <a class="btn btn-warning" href="{% url 'komax_app:load_komax_task' task_name=komax_task.task_name %}">
                                    {% trans 'Load task' %}
                                </a>
                            {% elif komax_time_status.1 == 1 %}
                                <button class="btn btn-outline-info" disabled>
                                    {% trans 'Task loaded' %}
                                </button>
                                <a class="btn btn-outline-danger" href="{% url 'komax_app:stop_task'  task_name=komax_task.task_name %}">
                                    {% trans "Stop komax" %}
                                </a>
                            {% elif komax_time_status.1 == 2 %}
                                <button class="btn btn-light" disabled>
                                    {% trans 'Done' %}
                                </button>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="{% url 'komax_app:get_spec_task' task_name=komax_task.task_name komax=komax_num %}">
                                {% trans 'task' %} {{ komax }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


        {% else %}

            {% if komax_task %}
            <div class="card">
                <div class="card-header">
                    <h3 class="h3">
                        {{ komax_task.task_name }}
                    </h3>
                </div>
                <div class="card-body">
                    <!--
                    <div style="width: 25%" id="harness__">
                        <p class="font-weight-bold text-center">43118-3724544-42</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 61%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">61%</div>
                        </div>
                        <p class="text-center">
                            {% trans '3:23 left' %}
                        </p>
                    </div>
                    -->


                    <div id="harness-completion" class="row justify-content-between">
                        {% for harness in komax_task.harnesses.all %}
                        <div style="width: 20%" id="harness-container-{{ harness.harness.harness_number }}">
                            <p class="font-weight-bold text-center" id="harness-{{ harness.harness.harness_number }}">
                                {{ harness.harness.harness_number }}
                            </p>
                            <div class="progress">
                                <div id='progress-{{ harness.harness.harness_number }}' class="progress-bar" role="progressbar" style="width: 0" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    0%
                                </div>
                            </div>
                            <p class="text-center" id="time-{{ harness.harness.harness_number }}">
                                0:0
                            </p>
                        </div>
                        {% if forloop.counter|divisibleby:"4" %}
                            </div><div id="harness-completion" class="row justify-content-around">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <!--
    <div class="card">
        <div class="card-header">
            <p>{{ worker.user.username }}</p>
        </div>
        <div class="card-body">
            {% for position in worker.user.groups.all %}
            <h5 class="card-text">{{ position }}</h5>
            {% endfor %}
            <button class="btn btn-info">Edit</button>
        </div>
    </div>
    -->

    <script type="text/javascript">
        $(window).on('load', function(){
            $('#komaxNumberModal').modal({show: true, focus: true, backdrop: 'static', keyboard: false});
        });
    </script>

    <script type="text/javascript">
    var loc = window.location;
    var wsStart = 'wss://';
    if (loc.host.includes('localhost')){
        wsStart = 'ws://'
    }
    var endPoint = wsStart + loc.host + loc.pathname;
    console.log(endPoint);
    var socket = new WebSocket(endPoint);



    socket.onopen = function(e) {
        socket.send(JSON.stringify({
            'info': 0,
        }));

    };
    socket.onmessage = function(e) {

        var harness_time = JSON.parse(e.data);

        progress_bar = document.getElementById('progress-' + harness_time['number']);

        if (harness_time['percent'] != 0) {
            if (harness_time['percent'] == 100) {
                progress_bar.classList.add('bg-success');
            }
            else {
                progress_bar.classList.remove('bg-success');
            }
            progress_bar.setAttribute('style', 'width: ' + harness_time['percent'] + '%');
            progress_bar.setAttribute('aria-valuenow', harness_time['percent']);
            progress_bar.innerHTML = harness_time['percent'] + '%';
        }
        else {
            progress_bar.setAttribute('style', 'width: 0');
            progress_bar.setAttribute('aria-valuenow', '0');
        }

        document.getElementById('time-' + harness_time['number']).innerHTML = new Date(harness_time['left'] * 1000).toISOString().substr(11, 5);


    };

    socket.onerror = function(e) {
        console.log(e)
    };
    socket.onclose = function(e) {
        console.log(e)
    };





</script>
{% endblock %}
