.LabourPage{
    width: 100vw;
    height: 100vh;
}

.container{
    margin: 10vh 10vw;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table{
    font-size: 18px;
    height: 60vh;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    overflow-y: scroll;
}

.table_heading{

}

.data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2em;
    margin: 0px 10px;
}

.data_row, .table_heading{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.data_row{
    cursor: pointer;
    margin: 10px 0px;
}

.data_row:hover{
    background-color: rgba(167,164,163,0.79);
}

.create_btn, .edit_btn{
    outline: none;
    background-color: transparent;
    font-size: 18px;
    border: 1px #37c4cb solid;
    padding: 7px 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in all;
}

.create_btn{
    color: #37c4cb;
    width: 100%;
    margin-bottom: 20px;
}

.create_btn:hover{
    color: white;
    background-color: #37c4cb;
}

.edit_btn{
    border: 1px #a7a4a3 solid;
    color: #a7a4a3;
}

.edit_btn:hover{
    color: white;
    background-color: #a7a4a3;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}