.StartPage{
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 40px 0px;
}

.container{
    width: 80vw;
    margin: auto;
    flex-direction: row;
    border-radius: 5px;
}

.username{
    font-size: 42px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

.recentTasks{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header, .username, .content{
    display: flex;
    flex-direction: row;
}

.ava{
    width: 100px;
}

.container{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.header, .content{
    padding: 20px 20px;
}

.header{
    align-items: center;
}

.username{
    margin-left: 10px;
}

.role{
    font-size: 32px;
}

.editBtn{
    margin-left: 20px;
    font-size: 24px;
    color: gray;
    background-color: transparent;
    border-radius: 5px;
    border-color: #d0cece;
    border-width: 2px;
    outline: none;
}

.info{
    width: 30%;
}