.StartPage{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 40px 0px;
}

.username{
    font-size: 42px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

.recentTasks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header, .username, .content{
    display: flex;
    flex-direction: row;
}

.ava{
    width: 100px;
    cursor: pointer;
}

.container{
    width: 80vw;
    margin: auto;
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header, .content{
    padding: 20px 20px;
}

.header{
    align-items: center;
}

.username{
    margin-left: 10px;
}

.role{
    font-size: 32px;
}

.editBtn{
    margin-left: 20px;
    font-size: 24px;
    color: gray;
    background-color: transparent;
    border-radius: 5px;
    border-color: #d0cece;
    border-width: 2px;
    outline: none;
}

.info{
    width: 30%;
}

/* MODAL WINDOW SELECTORS */
.choose_form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.choose_heading{
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
}

.ava_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.close_btn{
    color: red;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 18px;
}

.input{
    margin-left: 10px;
}

.choose_ava{
    width: 150px;
}