.Table{
    padding: 20px 20px;
    font-size: 18px;
}

.tableItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    cursor: pointer;
}

.tableItem:hover{
    background-color: #c9cbc9;
}

.data{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sepairing{
    display: flex;
    flex-direction: column;
}

.bold{
    width: 10vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    border-radius: 5px;
}