.ModalForm{

}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input, .select{
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #d9dbd9 solid;
    outline: none;
}

.option{

}

.inputs{
    display: flex;
    flex-direction: column;
}

.closeBtn{
    font-size: 24px;
    height: fit-content;
    border: none;
    background-color: transparent;
    outline: none;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.toolbar{
    display: flex;
    justify-content: center;
}

.saveBtn{
    border: none;
    background-color: #31a1a8;
    color: white;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
}

.saveBtn:hover{
    background-color: #37c4cb;
}

.saveBtn[disabled], .saveBtn[disabled]:hover{
    background-color: #818285;
    cursor: not-allowed;
}

.error{
    color: red;
}

.invalidInput{
    border: 1px solid red;
    box-shadow: 1px 1px 5px red;
}