{% extends 'main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block navbar %}
    <li class="nav-item">
      <!-- Set normal link for Main page -->
        <a class="nav-link" href="{% url 'main_app:main_app' %}">{% trans 'Main' %}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'App' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'komax_app:komax_app_view' %}">{% trans 'App' %}</a>
            <a class="dropdown-item" href="{% url 'komax_app:harnesses' %}">{% trans 'Harnesses' %}</a>
            <a class="dropdown-item" href="{% url 'komax_app:komaxes' %}">{% trans 'Komaxes' %}</a>
            <a class="dropdown-item" href="{% url 'komax_app:laboriousness' %}">{% trans 'Laboriousness' %}</a>
            <a class="dropdown-item" href="{% url 'komax_app:komax_task_list' %}">{% trans "Komax tasks" %}</a>
        </div>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'description:description' %}">
            {% trans 'About' %}
            <span class="sr-only">({% trans 'current' %})</span>
        </a>
    </li>

{% endblock %}