.ModalForm{

}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input{
    font-size: 24px;
    border-radius: 5px;
    border: 1px #d9dbd9 solid;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.closeBtn{
    font-size: 24px;
    height: fit-content;
    border: none;
    background-color: transparent;
    outline: none;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.toolbar{

}

.saveBtn{
    border: none;
    background-color: #31a1a8;
    color: white;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
}

.saveBtn:hover{
    background-color: #37c4cb;
}